APP_ENV=settings

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

REDSHIFT_HOST=
REDSHIFT_PORT=5439
REDSHIFT_DATABASE=taxi_lakehouse
REDSHIFT_USER=phucvuadmin
REDSHIFT_PASSWORD=
REDSHIFT_IAM_ROLE_ARN=
REDSHIFT_SCHEMA=taxi_weather
REDSHIFT_RAW_SCHEMA=raw_layer
REDSHIFT_ANALYTICS_SCHEMA=analytics

AIRFLOW_UID=50000
AIRFLOW_IMAGE_NAME=apache/airflow:3.1.8