.venv/
venv/
env/

.vscode/
.idea/

__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.python-version

logs/
*.log

.env
.env.*
!.env.example

credentials
config

data/

dbt_packages/
dbt/profiles/profiles.yml
dbt/profiles/.user.yml
target/
logs/dbt.log

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.airflow/
.DS_Store
airflow.db
airflow-webserver.pid